@font-face {
    font-family: 'GT Walsheim';
    src: url('../font/GT Walsheim/GTWalsheim.ttf'), /* IE9 Compat Modes */
    url('../font/GT Walsheim/GTWalsheim.ttf') format('ttf'); /* Modern Browsers */
    font-weight: 700;
}

@import url("https://use.typekit.net/dkg8yuc.css");


$heading-font:            "GT Walsheim", Arial, sans-serif;
$body-font:               aktiv-grotesk, "Helvetica Neue", Helvetica, Arial, sans-serif;


.content a:not(.btn) {
    color: $secondary;
    text-decoration: underline;
}
.content a:hover {
    text-decoration: none;
}

.content a:visited:not(.btn) {
    color: $visited-link;
}

$font-family-sans-serif: 'Lato',  sans-serif;

body {
    //font-family: $body-font;
    color: $body-text-color !important;
    background-color: $web-white;
    font-weight: normal;
    line-height: 30px;
    //margin-top: 34px;
    //font-feature-settings: "lnum";

    @media(max-width: 767px) {
        margin-top: 0px;
    }

    @media(max-width: 500px) {
        margin-top: 0px;
    }

    @media (max-width: 450px) {
        margin-top: 0px;
    }
}

.lead {
    font-size: 20px;
}
.text-primary {
    color: $web-black !important;
}


.btn-primary {
    border-color: $primary;
    border-radius: 4px;
    padding: 0.5em 2em;
    display: inline-block;
    color: $web-white;
    font-weight: 600;
    text-decoration: none;
    background-color: $primary;
}

.btn-primary:hover {
    /*color: $primary;*/
    background-color: $primary-hover;
    border-color: $primary-hover;
}

.btn-secondary {
    border-color: $secondary;
    border-radius: 4px;
    padding: 0.5em 2em;
    display: inline-block;
    color: $web-white;
    font-weight: 600;
    text-decoration: none;
    background-color: $secondary;

}

.btn-secondary:hover {
    /*color: $web-white;*/
    background-color: $secondary-hover;
    border-color: $secondary-hover;
}

.btn-info {
    border-color: $tertiary;
    padding: 0.5em 2em;
    display: inline-block;
    color: $primary;
    font-weight: 600;
    text-decoration: none;
    border-radius: 4px;
}

.btn-info:hover {
    color: $primary;
    background-color: $tertiary-hover;
    border-color: $tertiary-hover;
}


.btn-info:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled).active,
.show>.btn-info.dropdown-toggle {
	color: $primary;
    background-color: $web-white;
    border-color: $primary !important;
}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
	color: $primary;
    background-color: $web-white !important;
    border-color: $primary !important;
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show>.btn-secondary.dropdown-toggle {
	color: $primary;
    background-color: $web-white;
    border-color: $primary;
}

.btn-info:not(:disabled):not(.disabled):active:focus,
.btn-info:not(:disabled):not(.disabled).active:focus,
.show>.btn-info.dropdown-toggle:focus,
.btn-info:focus,
.btn-info.focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus,
.btn-primary:focus,
.btn-primary.focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show>.btn-secondary.dropdown-toggle:focus,
.btn-secondary:focus,
.btn-secondary.focus  {
    box-shadow: 0 0 0 0.2rem rgb(41 111 94 / 50%);
}
/**
    @media (max-width: 576px) {
        h1,
        .h1,
        .display-1 {
            font-size: 2rem;
            line-height: 1.25;
        }
        h2,
        .h2,
        .display-2 {
            font-size: 1.625rem;
            line-height: 1.15384615;
        }
        h3,
        .h3,
        .display-3 {
            font-size: 1.375rem;
            line-height: 1.13636364;
        }
        h4,
        .h4,
        .display-4 {
            font-size: 1.125rem;
            line-height: 1.11111111;
        }
    }
***/
