.site-footer {
    a {
        color: $web-white;
        text-decoration: none;
   
    }
    a:hover{
        text-decoration: underline;
        color: $web-white;
    }
    background:$primary;
    padding: 20px;
    color: $web-white;
}
#loom-companion-mv3 {
    display: none;
}